@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


header {
    background-color: #680581;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em 1em;
}
#menu{
    width: 30px;
    cursor: pointer;
    display: none;
}
header img{
    width: 7em;
}

a{
    color: #fff;
    font-weight: 500;
    text-decoration: none;
}

header nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    cursor: pointer;
}

header nav ul li{
    list-style: none;
}

.fazer-pedido{
    background-color: #FFF200;
    color: #680581;
    padding: .3em 3em;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

main{
    max-width: 100%;
    position: relative;
}

main svg{
    width: 100%;
    margin-top: -.5em;
}
main #sorvete{
    width: 30em;
    display: block;
    margin: 0 auto;
    margin-top: -16.5em;
}
main .fazer-pedido{
    margin: 0 auto;
    display: block;
}
main h1{
    color: #680581;
    font-family: 'Potta One', cursive;
    text-align: center;
    margin-top: -1em;
    margin-bottom: 1em;
}

svg {
    width: 100vw;
}

.quem-somos{
    display: flex;
    max-width: 100%;
}
.quem-somos #acai-left{
    position: absolute;
    height: 100vh;
}
.quem-somos .acai-right{
    position: absolute;
    right: 0;
    height: 100vh;
}
#info{
    max-width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
.quem-somos h2{
    color: #680581;
    font-family: 'Potta One', cursive;
    letter-spacing: 3px;
    font-size: 26px;
    overflow-x: hidden;
}
#info img{
    width: 12em;
}
#info p{
    text-align: center;
    line-height: 160%;
    font-size: 20px;
}

.tamanhos{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    background-color: #680581;
    margin-top: -1em;
    gap: 3em;
    position: relative;
    top: -1em;
    width: 100%;
}

#tamanhossvg{
    margin-top: 2em;
    width: 100%;
    position: relative;
    top:3.7em;
}
.tamanhos h2{
    color: #fff;
    font-family: 'Potta One', cursive;
}
#images{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin-bottom: 5em;
}
#images img{
    width: 17em;
    transition: .5s ease-in-out;
}
#images img:hover{
    transform:scale(1.05);
}
#end-tamanhos{
    width: 100%;
    margin-top: -7em;
}

#monte-o-seu{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.rounded{
    border-radius: 50%;
    box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.25), 2px 4px 6px 0px rgba(0, 0, 0, 0.25);
    width: 160px;
    height: 160px;
    object-fit: cover;
    transition: .4s ease-in;
}
.rounded:hover{
    transform: scale(1.03);
}

.flex-images{
    display: flex;
    gap: 3em;
    margin-bottom: 3em;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    flex-wrap: wrap;
}
#monte-o-seu h3{
    color: #680581;
    font-family: 'Potta One', cursive;
    text-align: center;
    margin-bottom: 2em;
    font-size: 26px;
}
#btn-margin{
    margin: 3em 0;
}
#center{
    margin: 0 auto;
}
#montar{
    width: 30em;
}

.image-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

footer{
    width: 100%;
    background-color: #680581;
    margin-top: 5em;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
    padding: 2em;
}
.left,.right{
    width: 40%;
}

footer form{
    display: flex;
    flex-direction: column;
    letter-spacing: 1px;
}
footer form label{
    font-weight: 300;
}
footer form input{
    border: 0;
    outline: 0;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 1em;
}
footer form textarea{
    border-radius: 5px;
    outline: none;
    border: 0;
    margin-bottom: 2em;
    letter-spacing: 1px;
}

footer form button{
    background-color: #fff;
    color: #680581;
    outline: none;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    height: 3em;
    font-size: 16px;
}
.right{
    height: 60vh;
}
.right h4{
    text-align: center;
    margin-bottom: 2em;
}
.right iframe{
    height: 50vh;
    width: 100%;
}

footer .right p{
    margin-top: 1em;
}
#close{
    display: none;
}
@media (max-width:950px){
    #close{
        display: block;
        background-color: transparent;
        padding: 1em;
        color:#fff;
        outline: none;
        border: 1px solid #fff;
        border-radius: 50%;
        cursor: pointer;
        margin: 0 auto;
        width: 50px;
        height: 50px;
    }
    header button{
        display: none;
    }
    .quem-somos{
        margin-top: 8em;
    }
   main #sorvete{
    width: 24em;
    margin-top: 10px;
   }
   header nav ul li{
    width: 100%;
   }

   header nav ul{
    margin-bottom: 2em;
   }
   header nav ul li:hover{
    background-color: #8b06ac;
   }
   header nav{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100vh;
    background-color:#8b06ac;
    width: 0%;
    transition: .5s;
    overflow: hidden;

   }
   .active{
    width: 40%;
   }

   header nav ul {
    display: flex;
    flex-direction: column;
    margin-top: 5em;
   }

  
   #menu{
    display: inline-block;
   }

   #images img{
    width: 12em;
}
}

@media (max-width:860px){
    #acai-left{
        width: 12vh;
    }
    #acai-right{
        width: 12vh;
    }
    #info p{
        font-size: 16px;
    }
}

@media (max-width:586px){
    #acai-left{
        display: none;
    }
    #acai-right{
        display: none;
    }
    #images{
        flex-direction: column;
    }
    footer{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    iframe{
        width: 100%;
    }
    .left,.right{
        width: 100%;
    }
    form{
        width: 100%;
    }
    form input{
        width: 100%;
    }
    .right{
        margin-bottom: 3em;
    }
    .right p{
        text-align: center;
    }
    .flex-images{
        flex-direction: column;
    }
    .image-flex p {
        margin-bottom: 2em;
    }
}

@media(max-width:391px){
    main #sorvete{
        width: 20em;
        margin-bottom: 4em;
    }
    main h1{
        font-size: 20px;
        margin-bottom: 4em;
    }
    .active{
        width: 70%;
    }
    #tamanhossvg{
        margin-top: 2em;
        width: 100%;
        position: relative;
        top:4.5em;
    }
    #montar{
        width: 18em;
    }
    #tamanhos h2{
        font-size: 18px;
    }

    html{
        overflow-x: hidden;
    }
}